{% extends "base.html" %}
{% block content %}
<div class="main-body">
    <div class="flex-row">
        <h1>About Us</h1>
    </div>
    <div class="flex-row">
        <h2>Bennett</h2><a href = "https://www.linkedin.com/in/bennett-lim-98a7ba258/"><img class="link-icon" src="/static/link.png"/></a>
    </div>
    <div class="flex-row">
        <h2>Gabriel</h2><a href = "https://www.linkedin.com/in/gabriel-seet-b4a4861b0/"><img class="link-icon" src="/static/link.png"/></a>
    </div>
    <div class="flex-row">
        <h2>Joshua</h2><a href = "https://www.linkedin.com/in/sg-incognito/"><img class="link-icon" src="/static/link.png"/></a>
    </div>
    
</div>
<footer>
    <p>GPTutor is a Hack&Roll 2023 Project by Bennett, Gabriel, and Joshua</p>
</footer>

{% endblock %}