{% extends "base.html" %}
{% block content %}

<div class="main-body bottom">
    <div class="flex-row">
        <div>
            <div>
                <h1>Revolutionize your education with us - the ultimate AI-powered study partner.</h1>
            </div>
            <div class="flex-row mini">
                <a href="/dashboard" class="btn">> GET STARTED</a>
            </div>
            <p>GPTutor is a Hack&Roll 2023 Project by Bennett, Gabriel, and Joshua.</p>
        </div>
    </div>
</div>

{% endblock %}