<div class="nav flex-row split">
    <ul class="nav">
        <li><a href="/" id="logo"><img src="/static/gptutor_logo.png"/>GPTutor</a></li>
    </ul>
    <ul class="nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</div>

<div class="nav flex-row split">
    <ul class="nav">
        <li><a href="/" id="logo"><img src="/static/gptutor_logo.png"/>GPTutor</a></li>
    </ul>
    <ul class="nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</div>
<div class="res nav flex-row split">
    <ul class="nav">
        <li><a href="/" id="logo"><img src="/static/gptutor_logo.png"/>GPTutor</a></li>
    </ul>
    <ul class="nav">
        <button class="resnavbtn" onclick="resnav()">&#9776;</button>
    </ul>
</div>
<div class="resnavcontent">
    <ul class="resnav">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a class="highlight" href="/login">LOGIN</a></li>    
    </ul>
</div>

