<div class="nav flex-row split fill">
    <ul class="nav">
        <li><a href="/" id="logo"><img src="/static/gptutor_logo.png"/>GPTutor</a></li>
    </ul>
    <ul class="nav">
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li><a href="/create">CREATE</a></li>
        <li><a href="/materials">MATERIALS</a></li>
        <li><a href="/profile">PROFILE</a></li>
        <li><a class="warning" href="/logout">LOGOUT</a></li>    
    </ul>
</div>
<div class="res nav flex-row split fill">
    <ul class="nav">
        <li><a href="/" id="logo"><img src="/static/gptutor_logo.png"/>GPTutor</a></li>
    </ul>
    <ul class="nav">
        <button class="resnavbtn" onclick="resnav()">&#9776;</button>
    </ul>
</div>
<div class="resnavcontent">
    <ul class="resnav">
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li><a href="/create">CREATE</a></li>
        <li><a href="/materials">MATERIALS</a></li>
        <li><a href="/profile">PROFILE</a></li>
        <li><a class="warning" href="/logout">LOGOUT</a></li>    
    </ul>
</div>

